.filterBar {
	display: flex;
}

.searchBox {
	height: 40px;
	flex-grow: 1;
	margin-right: 16px;
}

.sortSelect {
	height: 40px;
}

.loading {
	font-size: 20px;
	font-weight: 600;
	padding: 0 16px;
	text-align: center;
	margin-top: 8px;
}

.itemList {
	display: flex;
	flex-wrap: wrap;
	margin: 16px -16px 0;
}

.notFound {
	font-size: 18px;
	font-weight: 600;
	padding: 0 16px;
}

.item {
	width: 25%;
	padding: 0 16px;
	margin-bottom: 32px;
}

@media screen and (max-width: 1500px) {
	.item {
		width: 33.33%;
	}
}

@media screen and (max-width: 992px) {
	.item {
		width: 50%;
	}
}

@media screen and (max-width: 678px) {
	.filterBar {
		flex-direction: column;
	}

	.searchBox {
		margin-right: 0;
	}

	.sort {
		display: flex;
		align-items: center;
	}

	.sortSelect {
		margin-left: 8px;
		flex-shrink: 0;
		flex-grow: 1;
	}

	.item {
		width: 100%;
	}
}
