.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 20;
}

.backdrop {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.content {
	position: fixed;
	top: 50%;
	left: 50%;
	background: #ffffff;
	padding: 32px;
	border: 1px solid #000;
	border-radius: 8px;
	transform: translate(-50%, -50%);
	max-height: 90%;
	overflow: auto;
}

.close {
	position: absolute;
	top: 8px;
	right: 12px;
	font-size: 30px;
	cursor: pointer;
}

@media screen and (max-width: 768px) {
	.content {
		width: calc(100% - 32px);
		padding: 24px;
	}
}
