.notification {
	position: relative;
	display: flex;
	margin: 0 16px;
}

.icon {
	font-size: 30px;
}

.count {
	position: absolute;
	top: 0px;
	left: 20px;
	padding: 2px 4px;
	background: red;
	color: #ffffff;
	border-radius: 8px;
	font-size: 12px;
}
