.setting {
	width: 100%;
	max-width: 1200px;
	margin: 40px auto;
	padding: 0 16px;
}

.title {
	text-align: center;
}

.form {
	display: flex;
	flex-direction: column;
	max-width: 500px;
	margin: 0 auto;
}

.label {
	font-weight: 600;
	margin-bottom: 8px;
}

.link {
	text-decoration: underline;
	color: #1f54c0;
	cursor: pointer;
}

.autobid {
	margin-top: 40px;
}

.table {
	width: 100%;
}

.table th,
.table td {
	text-align: left;
}

.table .right {
	text-align: right;
}
