.setting {
	width: 100%;
	max-width: 1200px;
	margin: 40px auto;
	padding: 0 16px;
}

.title {
	text-align: center;
}

.form {
	display: flex;
	flex-direction: column;
	max-width: 500px;
	margin: 0 auto;
}

.label {
	font-weight: 600;
	margin-bottom: 8px;
}
