.upsertItem {
}

.title {
	text-align: center;
	margin-top: 0;
}

.form {
	display: flex;
}

.left {
	margin-right: 32px;
	min-width: 400px;
}

.right {
	display: flex;
	flex-direction: column;
	min-width: 360px;
}

.form label {
	font-weight: 600;
	margin-bottom: 8px;
}

@media screen and (max-width: 992px) {
	.form {
		flex-direction: column;
	}

	.left {
		margin-right: 0;
		margin-bottom: 16px;
	}

	.right {
		min-width: unset;
	}
}

@media screen and (max-width: 992px) {
}
